mat-form-field {
    width: 100%;
}
.container{
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 0px;
}
.title{
    color: rgb(74, 74, 173);
    font-style: normal;

}

.row {
    display: flex;
}

.column {
    flex: 50%;
    margin: 0px 5px;
}

.error {
    color:#B0304B;
    margin-top: -10px;
}

.container {
    display: flex;
    justify-content: space-between;
}
